# MCPanel module configuration: server

# The gateway for eno1, used for IP detection
IFCONFIG_GATEWAY=eno1

# IP address type; inet = ipv4, inet6 = ipv6
IFCONFIG_INETADDR=inet

# Server API, e.g.: spigot, craftbukkit
SERVER_API=spigot

# Server version
SERVER_VERSION=1.11.2

# Server memory, power of 1024, in M
SERVER_MEMORY=1024

# Server visibility levels: public, lan, local
SERVER_DEFAULT_VISIBILITY=local

# Automatically agree with EULA? (https://account.mojang.com/documents/minecraft_eula)
SERVER_AUTO_EULA=true
